/* Import tailwind here */


/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background: none;
    /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}